<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >

                
                <NotAuthorized>
                    @if(context.User?.Identity?.IsAuthenticated == false)
                    {                       
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <div class="alert alert-warning"><p>Vous n'êtes pas autorisé à accéder à cette page</p></div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <AuthorizeView>
                    <Authorized>
                        <RedirectToGraph/>
                    </Authorized>
                    <NotAuthorized>
                        <p style="color:white" role="alert">Désolé, il n'y a rien à cette adresse.</p>
                        <a class="btn btn-outline-light" role="button" aria-pressed="true" href="/">Page connexion</a>
                    </NotAuthorized>
                </AuthorizeView>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
